body{

    background-color: #ADEFD1FF;

}

h1 {

    text-align: center;
    margin: 20px;
    
    font-family: Impact;

}

p{
    display: flex;
    justify-content: center;
    position: relative;

}

img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;

}

#buttons{
    position: relative;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80vh auto;

}

#Heads{

    background-color: transparent;
    border: none;

}

#Tails{

    background-color: transparent;
    border: none;

}

button{

    text-align: center;
    position: relative;
    background-color: #00203FFF;
    color: white;
    height: 5vh;
    width: 25vh;

}

button:hover{

    background-color: yellow;

}

button:focus{


    background-color: red;

}


