body{

    background-color: #ADEFD1FF;

}

h1 {

    text-align: center;
    margin: 20px;
    
    font-family: Impact;

}

button{

    text-align: center;
    background-color: #00203FFF;
    color: white;

}
